
<div class="card-deck">
  <div class="card">
    <img src="~/images_products/coffee_bag_black.jpg" class="card-img-top" alt="coffee_bag">
    <div class="card-body">
      <h5 class="card-title">12 oz Guatemala Ricisimo</h5>
      <p class="card-text">A seasonal coffee we've offered since 2006, now in a new bag for a special occasion.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">
    <img src="~/images_products/coffee_bag_black.jpg" class="card-img-top" alt="coffee_bag">
    <div class="card-body">
      <h5 class="card-title">12 oz Costa Rica Montes de Oro</h5>
      <p class="card-text">A floral and complex coffee with notes of tart grape, lavender, juicy stone fruit and vanilla.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">
    <img src="~/images_products/coffee_bag_white.jpg" class="card-img-top" alt="coffee_bag">
    <div class="card-body">
      <h5 class="card-title">12 oz Indonesia Java Garut</h5>
      <p class="card-text">Ethiopia Mordecofe is a supremely elegant cup with floral aromas and vibrant notes of peach.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
</div>
<br>
<br>
<div class="card-deck">
  <div class="card">
    <img src="~/images_products/coffee_bag_white.jpg" class="card-img-top" alt="coffee_bag">
    <div class="card-body">
      <h5 class="card-title">12 oz Guatemala Ricisimo</h5>
      <p class="card-text">A seasonal coffee we've offered since 2006, now in a new bag for a special occasion.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">
    <img src="~/images_products/coffee_bag_black.jpg" class="card-img-top" alt="coffee_bag">
    <div class="card-body">
      <h5 class="card-title">12 oz Costa Rica Montes de Oro</h5>
      <p class="card-text">A floral and complex coffee with notes of tart grape, lavender, juicy stone fruit and vanilla.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">
    <img src="~/images_products/coffee_bag_white.jpg" class="card-img-top" alt="coffee_bag">
    <div class="card-body">
      <h5 class="card-title">12 oz Indonesia Java Garut</h5>
      <p class="card-text">Ethiopia Mordecofe is a supremely elegant cup with floral aromas and vibrant notes of peach.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
</div>
