
<div class="card-deck">
  <div class="card">
    <img src="~/images_products/coffee_bag_black.jpg" class="card-img-top" alt="coffee_bag">
    <div class="card-body">
      <h5 class="card-title">12 oz Guatemala Ricisimo</h5>
      <p class="card-text">A seasonal coffee we've offered since 2006, now in a new bag for a special occasion.</p>
      <p class="card-text">
        <small class="text-muted">
          <button type="button" class="btn btn-outline-dark" data-toggle="modal" data-target="#firstModal">Quick View
          </button>
            <div class="modal fade" id="firstModal" tabindex="-1" role="dialog" aria-labelledby="firstModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="firstModalLabel">12 oz Guatemala Ricisimo</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <div class="card">
                      <img src="~/images_products/coffee_bag_black.jpg" class="card-img-top" alt="coffee_bag">
                      <div class="card-body">
                        <h5 class="card-title">Medium Roast</h5>
                        <p class="card-text">A seasonal coffee we've offered since 2006, now in a new bag for a special occasion.</p>
                        <p class="card-text"><h5 class="text-muted">$15</h5></p>
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-outline-dark">Add to Cart</button>
                  </div>
                </div>
              </div>
            </div>
        </small>
      </p>
    </div>
  </div>

  <div class="card">
    <img src="~/images_products/coffee_bag_white.jpg" class="card-img-top" alt="coffee_bag">
    <div class="card-body">
      <h5 class="card-title">12 oz Hondora Oro</h5>
      <p class="card-text">A bright coffee with hints of citris, cherry, and nutmeg. For a limited time in all southern locations.</p>
      <p class="card-text">
        <small class="text-muted">
          <button type="button" class="btn btn-outline-dark" data-toggle="modal" data-target="#secondModal">Quick View
          </button>
            <div class="modal fade" id="secondModal" tabindex="-1" role="dialog" aria-labelledby="secondModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="secondModalLabel">12 oz Hondora Oro</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <div class="card">
                      <img src="~/images_products/coffee_bag_white.jpg" class="card-img-top" alt="coffee_bag_white">
                      <div class="card-body">
                        <h5 class="card-title">Light Roast</h5>
                        <p class="card-text">A bright coffee with hints of citris, cherry, and nutmeg. For a limited time in all southern locations.</p>
                        <p class="card-text"><h5 class="text-muted">$15</h5></p>
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-outline-dark">Add to Cart</button>
                  </div>
                </div>
              </div>
            </div>
        </small>
      </p>
    </div>
  </div>

  <div class="card">
    <img src="~/images_products/coffee_bag_black.jpg" class="card-img-top" alt="coffee_bag">
    <div class="card-body">
      <h5 class="card-title">12 oz Costa Del Sol</h5>
      <p class="card-text">A limited-batch coffee we're happy to have available, now being served in all our stores.</p>
      <p class="card-text">
        <small class="text-muted">
          <button type="button" class="btn btn-outline-dark" data-toggle="modal" data-target="#thirdModal">Quick View
          </button>
            <div class="modal fade" id="thirdModal" tabindex="-1" role="dialog" aria-labelledby="thirdModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="thirdModalLabel">12 oz Costa Del Sol</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <div class="card">
                      <img src="~/images_products/coffee_bag_black.jpg" class="card-img-top" alt="coffee_bag">
                      <div class="card-body">
                        <h5 class="card-title">Dark Roast</h5>
                        <p class="card-text">A limited-batch coffee we're happy to have available, now being served in all our stores.</p>
                        <p class="card-text"><h5 class="text-muted">$17</h5></p>
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-outline-dark">Add to Cart</button>
                  </div>
                </div>
              </div>
            </div>
        </small>
      </p>
    </div>
  </div>



</div>
<br>
<br>
<div class="card-deck">
  <div class="card">
    <img src="~/images_products/coffee_bag_white.jpg" class="card-img-top" alt="coffee_bag">
    <div class="card-body">
      <h5 class="card-title">12 oz Guatemala Ricisimo</h5>
      <p class="card-text">A seasonal coffee we've offered since 2006, now in a new bag for a special occasion.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">
    <img src="~/images_products/coffee_bag_black.jpg" class="card-img-top" alt="coffee_bag">
    <div class="card-body">
      <h5 class="card-title">12 oz Costa Rica Montes de Oro</h5>
      <p class="card-text">A floral and complex coffee with notes of tart grape, lavender, juicy stone fruit and vanilla.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">
    <img src="~/images_products/coffee_bag_white.jpg" class="card-img-top" alt="coffee_bag">
    <div class="card-body">
      <h5 class="card-title">12 oz Indonesia Java Garut</h5>
      <p class="card-text">Ethiopia Mordecofe is a supremely elegant cup with floral aromas and vibrant notes of peach.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
</div>
