<div class="   ">
  <div class="   ">
    <img src="~/images_products/coffee_bag_black.jpg" class="  " alt="coffee_bag">
    <div class="   ">
      <h5 class="     ">12 oz Guatemala Ricisimo</h5>
      <p class="    ">A seasonal coffee we've offered since 2006, now in a new bag for a special occasion.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
