
<div class="container">
  <div class="row">
    <div class=col>
      <img src="~/images/just_beans_hands.jpg" asp-append-version="true" class="img-fluid rounded" alt="Responsive image">
    <div class="carousel-caption">
        <br>
        <br>
        <h3 class="display-4 text-white">
          <span class="border border-white rounded px-md-3">About Us</span>
        </h3>
        <br>
        <br>
      <h3 class=" text-white">
        Our humble beginings can be traced back to a scene
        <br>
        <br>
         that looked something
        <br>
        <br>
        like this...
      </h3>

    </div>
    </div>


  </div>
</div>
